.main-grid {
  display: grid;
  height: 90vh;
  gap: 10px;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

a:hover {
  color: #e056fd;
}

h2,
h3 {
  margin-bottom: 16px;
  padding-bottom: 5px;
}

/* Адаптивність для мобільних (все в одну колонку) */
@media (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
  }
}
