.page-grid {
  display: grid;
  height: 90vh;
  gap: 10px;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
}

.box {
  padding: 10px;
  border-radius: 20px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #495057;
  font-weight: bold;
}

a:hover {
  color: #c0c0c0;
}

h1 {
  color: var(--color-text);
  font-family: var(--font-h);
}

h2,
h3 {
  margin-bottom: 16px;
  padding-bottom: 6px;
  color: var(--color-text);
  font-family: var(--font-h);
}

/* Адаптивність для мобільних (все в одну колонку) */
@media (max-width: 768px) {
  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
  }
}
