.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-dark-bg);
  font-size: 18px;
}

.footer-links {
  display: flex;
  gap: 16px;

  text-decoration: none;
  font-weight: bold;

  a {
    color: var(--color-ref);

    transition: transform 0.5s ease-in-out;

    &:hover {
      color: var(--color-ref-hover);
    }
  }
}
