@import url("./App.css");
@import url("./Header.css");
@import url("./Footer.css");
@import url("./NavMenu.css");
@import url("./Main.css");

body {
  margin: 0;
  font-family: "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
