.main-content {
  grid-row: span 2;

  h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 70px;
  }
}

.cafedra-inf-item {
  margin-bottom: 40px;
  margin-left: 25px;
  font-size: 20px;
}