.nav-menu {
  padding: 16px;

  a {
    text-decoration: none;
    color: var(--color-ref);
    font-weight: bold;

    position: relative;
    display: inline-block;

    transition: color 0.3s ease-in-out;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -3px;
      width: 100%;
      height: 2px;
      background-color: var(--color-ref-hover);

      transform: scaleX(0);
      transform-origin: left center;
      transition: transform 0.3s ease-in-out;
    }

    &:hover {
      color: var(--color-ref-hover);

      &::after {
        transform: scaleX(1);
      }
    }
  }

  .nav-menu-list {
    display: flex;
    flex-direction: row;
    gap: 24px;

    padding: 0;
  }

  .nav-menu-item {
    font-size: 24px;
  }
}
