.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: var(--color-block-bg);

  .block-title {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 32px;
  }

  .announcement-item {
    margin-bottom: 10px;
    padding: 8px;

    border-radius: 10px;
    background-color: var(--color-card);
  }

  .announcement-title {
    margin: 10px 10px;
    font-size: 1.2em;
    font-weight: bold;
  }

  .announcement-subtitle {
    font-weight: normal;
  }

  .announcement-text {
    font-size: 1.1em;
  }

  .announcement-details,
  .announcement-location {
    margin: 3px 0;

    font-size: 0.9em;
    color: var(--color-secondary-text);
  }
}
